body{
font-family:Arial;
background:linear-gradient(135deg,#667eea,#764ba2);
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}

.container{
background:rgba(255,255,255,0.2);
padding:30px;
border-radius:15px;
width:320px;
color:white;
}

input{
width:100%;
padding:10px;
margin-top:5px;
border-radius:5px;
border:1px solid #ccc;
}

.msg{
font-size:12px;
margin-bottom:10px;
display:block;
}

.valid{
color:#7CFF8F;
}

.invalid{
color:#FF8080;
}

button{
display:block;
margin:20px auto;
background:white;
color:black;
border:1px solid #ccc;
padding:10px 20px;
}